<form action="/add" method="post" class="post-form">
    <input type="text" placeholder="Title" name="title" required/> 
    <textarea placeholder="Enter at least 20 characters" name="content"></textarea>
    <button type="submit">Send</button>
</form>