<form action="http://localhost:5000/edit/{{post.id}}" method="post" class="post-form">
    <input type="text" placeholder="Title" name="title" required value="{{post.title}}"/> 
    <textarea placeholder="Enter at least 20 characters" name="content">{{post.content}}</textarea>
    <button type="submit">Send</button>
</form>